<div class="form-group container-fluid">
  <div class="row">
    <div class="col-sm">
      <input
        #searchBoxInput
        placeholder="Search Categories"
        type="text"
        class="search-box-input"
        [(ngModel)]="searchTerm"
        (ngModelChange)="searchItem()"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div *ngIf="!searchTerm">Please start typing to see some categories</div>
      <div *ngIf="searchTerm && !searching && results?.length <= 0">
        "{{ searchTerm }}" cannot be found.
      </div>
      <div *ngIf="searchTerm && searching">Searching...</div>
      <div *ngIf="searchTerm && !searching && results?.length > 0">
        <app-category-list-item
          *ngFor="let item of results"
          [id]="item.id"
          [subCategories]="item.subCategories"
        >
        </app-category-list-item>
      </div>
    </div>
  </div>
</div>
