li:before {
  float: left;
  content: "\00a0";
  width: 10px;
  border: 1px solid transparent;
}

ul {
  list-style: none;
  padding: 0px;
  min-width: 400px;
}

:host {
  display: inline-flex;
  flex: auto;
  border: 1px solid gray;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

:host:hover {
  background-color: rgba(210, 210, 221, 0.644);
  cursor: pointer;
}
