<div class="container-fluid">
  <label for="category-input" class="category-input-label">Categories</label>
  <textarea
    type="text"
    [(ngModel)]="categoriesInput"
    name="category-input"
    class="category-input"
    placeholder="Add your categories here with -(dash) and >(greater than) separators e.g. 4 - Animals & Pet Supplies > Pet Supplies > Cat Supplies"
    rows="10"
  ></textarea>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <button class="btn btn-primary save-button" (click)="parseCategories()">
    <i class="fa fa-save"></i>Save
  </button>
</div>
