<nav class="navbar navbar-expand-lg navbar-light bg-light category-browser-nav">
  <a class="navbar-brand" href="#">Category Browser</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/category-add" routerLinkActive="active"
          >Add</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/category-browse"
          routerLinkActive="active"
          >Browse</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
